<h1>Container Info (Last updated at <%= @container.container_datas.last.updated_at.getlocal%> From Ocean Insights)</h1>
<table style="width:100%">
  <tr>
    <th>Number</th>
    <th>Type</th>
    <th>ISO</th>
    <th>Carrier Name</th>
    <th>Carrier SCAC</th>
    <th>Name</th>
    <th>Weight</th>
  </tr>
  
	  <tr>
	    <td><%= @container.number %></td>
	    <td><%= @container.container_type %></td>
	    <td><%= @container.iso %></td>
	    <td><%= @container.carrier_name%></td>
	    <td><%= @container.carrier_scac %></td>
	    <td><%= @container.name %></td>
	    <td><%= @container.weight%></td>
	    
	  </tr>
  
</table>

<h1>Vessels Info </h1>
<table style="width:100%">
  <tr>
    <th>Number</th>
    <th>Name</th>
    <th>IMO</th>
  </tr>
  <%@container.vessels.each do |v|%>
    <tr>
      <td><%= v.number %></td>
      <td><%= v.name %></td>
      <td><%= v.imo%></td>
      
    </tr>
  <%end%>
</table>

<h1>Vessel Logs</h1>
<table style="width:100%">
  <tr>
    <th>Number</th>
    <th>Name</th>
    <th>IMO</th>
    <th>Time</th>
    <th>Log</th>
    <th>Next Port</th>
  </tr>

  <% @container.vessels.each do |v| %>
    <% v.vessel_logs.each do |l|%>
      <tr>
        <td><%= v.number %></td>
        <td><%= v.name %></td>
        <td><%= v.imo %></td>
        <td><%= l.created_at.getlocal %></td>
        <td><%= l.log %></td>
        <td><%= l.next_port %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<h1>Locations Info</h1>
<table style="width:100%">
  <tr>
    <th>Type</th>
    <th>Code</th>
    <th>Name</th>
    <th>Lat</th>
    <th>Long</th>
    <th>Port Code</th>
    <th>Port Name</th>
    <th>Timezone</th>
    <th>Timestamp</th>
  </tr>
  <%@container.locations.each do |l|%>
    <tr>
      <td><%= l.location_type_name %></td>
      <td><%= l.code %></td>
      <td><%= l.name %></td>
      <td><%= l.lat%></td>
      <td><%= l.long %></td>
      <td><%= l.port_code %></td>
      <td><%= l.port_name %></td>
      <td><%= l.timezone %></td>
      <td><%= l.timestamp%></td>
    </tr>

  <%end%>
</table>

<h1>Location Timelines </h1>
<table style="width:100%">
  <tr>
    <th>Location Type</th>
    <th>Event Type</th>
    <th>Expected Time</th>
    <th>Actual Time</th>
    <th>Detected Time</th>
    <th>Initial Time</th>

  </tr>
  <%@container.locations.each do |l|%>
    <% l.location_timelines.each do |lt| %>
      <tr>
        <td><%= l.location_type_name %></td>
        <td><%= lt.timeline_type %></td>
        <td><%= lt.expected_time%></td>
        <td><%= lt.actual_time %></td>
        <td><%= lt.detected_time %></td>
        <td><%= lt.initial_time%></td>
      </tr>
    <%end%>
  <%end%>
</table>



<table style="width:100"%>
  <tr>
    <th>Key Name</th>
    <th>Definition</th>
  </tr>

  <tr>
    <td>pod_vslarrival_detected</td>
    <td>Actual date/time of vessel arrival at final port of discharge (detected by AIS vessel tracking)</td>
  </tr>
  <tr>
    <td>pod_vslarrival_actual</td>
    <td>Actual date/time of vessel arrival at final port of discharge (indicated by the carrier)</td>
  </tr>
  <tr>
    <td>pod_vslarrival_planned_initial</td>
    <td>Initial planned date/time of vessel arrival at final port of discharge (indicated by the carrier)

</td>
  </tr>
  <tr>
    <td>pod_vslarrival_planned_last</td>
    <td>Last (i.e. most recent) given planned date/time of vessel arrival at final port of discharge (indicated by the carrier)</td>
  </tr>
  <tr>
    <td>pod_discharge_actual</td>
    <td>Actual date/time of container discharge at final port of discharge (indicated by the carrier)</td>
  </tr>
  <tr>
    <td>pod_discharge_planned_initial</td>
    <td>Initial planned date/time of container discharge at final port of discharge (indicated by the carrier)</td>
  </tr>
  <tr>
    <td>pod_discharge_planned_last</td>
    <td>Last (i.e. most recent) given planned date/time of container discharge at final port of discharge (indicated by the carrier)</td>
  </tr>
  <tr>
    <td>pod_departure_actual</td>
    <td>Actual date/time of container departure at final port of discharge (indicated by the carrier)</td>
  </tr>
  <tr>
    <td>pod_departure_planned_initial</td>
    <td>Initial planned date/time of container departure at final port of discharge (indicated by the carrier)

</td>
  </tr>
  <tr>
    <td>pod_departure_planned_last</td>
    <td>Last (i.e. most recent) given planned date/time of container departure at final port of discharge (indicated by the carrier)</td>
  </tr>

</table>
<% h = {}%>

<table style="width:100%">
  <tr>
    <th>Datetime</th>
    <th> pod_vslarrival_prediction </th>
    <th >pod_vslarrival_detected </th>
    <th >pod_vslarrival_actual</th>
    <th>pod_vslarrival_planned_initial</th>
    <th>pod_vslarrival_planned_last</th>
    <th>pod_discharge_actual</th>
    <th>pod_discharge_planned_initial</th>
    <th>pod_discharge_planned_last</th>
    <th>pod_departure_actual</th>
    <th>pod_departure_planned_initial</th>
    <th>pod_departure_planned_last</th>
  </tr>
  <% @container.container_datas.each do |x| %>
  <tr>
      
      <% date = x.created_at %>
      <% data =  eval(x.data) %>
      <% containershipments = data['containershipments'] %>
      <% containershipments.each do |y| %>
        <td><%= date %></td>
	<td> <%= y['pod_vslarrival_prediction']%></td>
        <td> <%= y['pod_vslarrival_detected'] %> </td>
        <td> <%= y['pod_vslarrival_actual'] %> </td>
        <td> <%= y['pod_vslarrival_planned_initial'] %> </td>
        <td> <%= y['pod_vslarrival_planned_last'] %> </td>
        <td> <%= y['pod_discharge_actual'] %> </td>
        <td> <%= y['pod_discharge_planned_initial'] %> </td>
        <td> <%= y['pod_discharge_planned_last'] %> </td>
        <td> <%= y['pod_departure_actual'] %> </td>
        <td> <%= y['pod_departure_planned_initial'] %> </td>
        <td> <%= y['pod_departure_planned_last'] %> </td>

      <% end %>
    
  </tr>
  <% end %>
</table>


<h1> POD ETA updation timeline </h1>
<table style="width:100%">
  <tr>
    <th>Datetime of ETA updation</th>
    <th>ETA</th>
  </tr>
  <% @final_hash.each do |k,v|%>
    <tr>
      <td> <%= v %></td>
      <td> <%= k %></td>
    </tr>
  <% end %>
</table>

<style>
table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
}
table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: gray;
}
</style>
